.header{
    height: 147px;
}
.main-box{
    width: 996px;
    margin: 29px auto 0;
}
.main-box>.content-box{
    overflow: hidden;
    background-color: #fff;
}
.main-box>.content-box>.iframe{
    height: auto;
}
.main-box>.content-box>.iframe>iframe{
    width: 100%;
    height: 100%;
}