.ndbxzs-zcfg-content>.nav{
    min-width: 1026px;
    color: #ffffff;
    font-size: 14px;
    overflow: hidden;
}
.ndbxzs-zcfg-content>.nav>ul{
    overflow: hidden;
    width: 1025px;
    margin: 0 auto;
}
.ndbxzs-zcfg-content>.nav>ul>li{
    width: 92px;
    float: left;
    text-align: center;
    height: 46px;
}
.ndbxzs-zcfg-content>.nav>ul>li>a{
    display: block;
    height: 100%;
    line-height: 46px;
    color: #ffffff;
    width: 100%;
}
.ndbxzs-zcfg-content>.first>ul>li:hover,
.ndbxzs-zcfg-content>.first>ul>li.active{
    background-color: #3BA2E5;
}
.ndbxzs-zcfg-content>.second>ul>li:hover,
.ndbxzs-zcfg-content>.second>ul>li.active{
    background-color: #35bafe;
}
.ndbxzs-zcfg-content>.first{
    background-color: #3579CF;
}
.ndbxzs-zcfg-content>.first>ul>.input-box{
    margin: 12px 0 0;
    float: right;
    width: 157px;
    height: 21px;
    background-color: #ffffff;
    padding-left: 9px;
}
.ndbxzs-zcfg-content>.first>ul>.input-box input{
    width: 117px;
    margin-top: 3px;
    border: 0;
    border-right: 1px solid #C4C4C4;
}
.ndbxzs-zcfg-content>.first>ul>.input-box p{
    float: right;
    padding: 0 7px;
    margin: 2px 0 0 0;
    cursor: pointer;
}
.ndbxzs-zcfg-content>.second{
    background-color: #5693F0;
}
.ndbxzs-zcfg-content>.second>ul>.date{
    margin: 14px 0 0;
    color: #ffffff;
    float: right;
}
.ndbxzs-zcfg-content>.main{
    width: 1025px;
    margin: 0 auto 14px;
}
.ndbxzs-zcfg-content>.main>.current-position{
    font-size: 14px;
    color: #666666;
    margin: 20px 0 11px 0;
}
.ndbxzs-zcfg-content>.main>.current-position a{
    color: #666666;
}
.ndbxzs-zcfg-content>.main>.content-box{
    background-color: #ffffff;
    padding: 29px 0 87px 0;
    border: 1px solid #CCCCCC;
}
.ndbxzs-zcfg-content>.main>.content-box>h2{
    color: #333333;
    margin: 0 auto 46px;
    text-align: center;
    width: 825px;
}
.ndbxzs-zcfg-content>.main>.content-box>.date-setting{
    width: 825px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    background-color: #e9e9e9;
    color: #666666;
}
.ndbxzs-zcfg-content>.main>.content-box>.date-setting>.from,
.ndbxzs-zcfg-content>.main>.content-box>.date-setting>.author{
    display: inline-block;
    margin: 0 40px;
}
.ndbxzs-zcfg-content>.main>.content-box>.date-setting>.print{
    cursor: pointer;
}
.ndbxzs-zcfg-content>.main>.content-box>.content{
    width: 822px;
    margin: 30px auto;
    padding-top: 2px;
}
.ndbxzs-zcfg-content>.main>.content-box>.content *{
    user-select: auto;
    line-height: 1.75em;
}